{% extends "layout.html" %}
{% block container %}
{% import "_macros.html" as macros %}

<div class="py-10 relative overflow-x-auto sm:rounded-lg">

    <form action="{{ url_for('cursos.cursoModificar', id=curso.id) }}" method="POST"
        class="max-w-md mx-auto">
        {{ form.csrf_token }}
        
        <h1 class="text-2xl font-bold text-heading mb-8 text-center">
            Modificar Curso
        </h1>

        <div class="relative z-0 w-full mb-6 group">
            {{ macros.campoNuevo(form.nombre,
            class="block py-2.5 px-0 w-full text-sm text-heading bg-transparent border-0
            border-b-2 border-default-medium") }}
        </div>

        <div class="relative z-0 w-full mb-6 group">
            {{ macros.campoNuevo(form.descripcion,
            class="block py-2.5 px-0 w-full text-sm text-heading bg-transparent border-0
            border-b-2 border-default-medium") }}
        </div>

        <div class="relative z-0 w-full mb-6 group">
            <label for="maestro_id" class="block mb-2 text-sm font-medium text-gray-500">Maestro Titular</label>
            <select name="maestro_id" id="maestro_id" required
                class="block py-2.5 px-0 w-full text-sm text-heading bg-transparent border-0 border-b-2 border-default-medium focus:outline-none focus:ring-0 focus:border-brand peer">
                {% for maestro in maestros %}
                    <option value="{{ maestro.matricula }}" 
                        {% if maestro.matricula == curso.maestro_id %}selected{% endif %}>
                        {{ maestro.nombre }} {{ maestro.apellidos }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <button type="submit"
            class="w-full text-white bg-amber-500 hover:bg-amber-600 focus:ring-4 focus:ring-amber-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center transition-all duration-200">
            Guardar Cambios
        </button>

        <div class="mt-4 text-center">
            <a href="{{ url_for('cursos.cursosTabla') }}" class="text-sm text-gray-500 hover:underline">
                Cancelar
            </a>
        </div>
    </form>
</div>
{% endblock %}