{% extends "layout.html" %}
{% block container %}

<div class="flex justify-center p-6">
    <div class="bg-neutral-primary-soft max-w-xs w-full p-6 border border-default rounded-base shadow-xs">
        <div class="flex flex-col items-center">
            <img class="w-24 h-24 mb-6 rounded-full border border-brand"
                 src="https://ui-avatars.com/api/?name={{ nombre }}+{{ apaterno }}&background=random">
            <h5 class="mb-0.5 text-xl font-semibold">
                {{ nombre }} {{ apaterno }}
            </h5>
            <span class="text-sm text-body">{{ email }}</span>
            <a href="{{ url_for('index') }}"
               class="mt-4 text-white bg-brand px-4 py-2 rounded-base">
               Regresar
            </a>
        </div>
    </div>
</div>
{% endblock %}