{% extends "layout.html" %} 
{% block container %} 
{% import "_macros.html" as macros %}

<div class="py-10">
    <div class="max-w-sm mx-auto mb-6">
        <h2 class="text-2xl font-bold text-heading">Nuevo Alumno</h2>
        <p class="text-sm text-body">Ingresa los datos del estudiante para el registro.</p>
    </div>

    <form action="/Alumnos" method="POST" novalidate class="max-w-sm mx-auto">
        {{form.csrf_token}}
        <div class="mb-5">
            <label for="nombre" class="block mb-2.5 text-sm font-medium text-heading">Nombre</label>
            {{ macros.campoNuevo(form.nombre, placeholder="Alicia", 
            class="bg-neutral-secondary-medium border border-default-medium text-heading 
            text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 
            shadow-xs placeholder:text-body") }}
        </div>

        <div class="mb-5">
            <label for="apaterno" class="block mb-2.5 text-sm font-medium text-heading">Apellido Paterno</label>
            {{ macros.campoNuevo(form.apaterno, placeholder="Lopez", 
            class="bg-neutral-secondary-medium border border-default-medium text-heading 
            text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 
            shadow-xs placeholder:text-body") }}
        </div>

        <div class="mb-5">
            <label for="email" class="block mb-2.5 text-sm font-medium text-heading">Correo Electrónico</label>
            {{ macros.campoNuevo(form.email, placeholder="123@gmail.com", 
            class="bg-neutral-secondary-medium border border-default-medium text-heading 
            text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 
            shadow-xs placeholder:text-body") }}
        </div>

          <div class="mb-5">
            <label for="telefono" class="block mb-2.5 text-sm font-medium text-heading">Telefono </label>
            {{ macros.campoNuevo(form.telefono, placeholder="123456", 
            class="bg-neutral-secondary-medium border border-default-medium text-heading 
            text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 
            shadow-xs placeholder:text-body") }}
        </div>

        <button type="submit" class="w-full text-white bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none transition-colors">
            Registro
        </button>
    </form>

    <div class="max-w-4xl mx-auto mt-10">
        <h2 class="text-xl font-bold text-heading mb-4">Alumnos Registrados</h2>

        <div class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default">
            <table class="w-full text-sm text-left rtl:text-right text-body">
                <thead class="bg-neutral-secondary-soft border-b border-default">
                    <tr>
                        <th scope="col" class="px-6 py-3 font-medium">Nombre</th>
                        <th scope="col" class="px-6 py-3 font-medium">Apellido</th>
                        <th scope="col" class="px-6 py-3 font-medium">Correo</th>
                          <th scope="col" class="px-6 py-3 font-medium"> Telefono</th>
                        <th scope="col" class="px-6 py-3 font-medium">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for alum in alumnos %}
                    <tr class="odd:bg-neutral-primary even:bg-neutral-secondary-soft border-b border-default last:border-0">
                        <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">{{ alum.nombre }}</th>
                        <td class="px-6 py-4">{{ alum.apaterno }}</td>
                        <td class="px-6 py-4">{{ alum.email }}</td>
                        <td class="px-6 py-4 flex items-center gap-2">
                            <a href="{{ url_for('detalles', id=alum.id) }}" class="font-medium text-fg-brand hover:underline">Ver</a>
                            <span class="text-body">|</span>
                            <a href="{{ url_for('modificar', id=alum.id) }}" class="font-medium text-fg-brand hover:underline">Modificar</a>
                            <a href="{{ url_for('eliminar', id=alum.id) }}" class="font-medium text-fg-brand hover:underline">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>

{% endblock %}