{%extends "layout.html" %} {% block container %} {%import "_macros.html" as
macros %}

<div class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default">
    <table class="w-full text-sm text-left rtl:text-right text-body">

        <thead class="text-sm text-body bg-neutral-secondary-medium border-b border-default-medium">
            <tr>
                <th scope="col" class="p-4">
                    <div class="flex items-center">
                        <input id="table-checkbox" type="checkbox" value="" class="w-4 h-4 border border-default-medium rounded-xs bg-neutral-secondary-medium focus:ring-2 focus:ring-brand-soft">
                        <label for="table-checkbox" class="sr-only">Table checkbox</label>
                    </div>
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                  Nombre
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Apellido Paterno
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Apellidp Materno
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                   Email
                </th>
            </tr>
        </thead>
        <tbody>
          {%for alum in Alumno%}
            <tr class="bg-neutral-primary-soft border-b border-default hover:bg-neutral-secondary-medium">
                <td class="w-4 p-4">
                    <div class="flex items-center">
                        <input id="table-checkbox-2" type="checkbox" value="" class="w-4 h-4 border border-default-medium rounded-xs bg-neutral-secondary-medium focus:ring-2 focus:ring-brand-soft">
                        <label for="table-checkbox-2" class="sr-only">Table checkbox</label>
                    </div>
                </td>
                {{alum.nombre}}
                </tr>
                <th class="px-6 py-4">{{alum.apaterno}}</th>
                <th class="px-6 py-4">{{alum.email}}</th>
                <td class="px-6 py-4 text-right">
                  <a
                    href="modificar?id={{alum.id}}"
                </td>
                <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                    Apple MacBook Pro 17"
                </th>
                <td class="px-6 py-4">
                    Silver
                </td>
                <td class="px-6 py-4">
                    Lopéz
                </td>
                <td class="px-6 py-4">
                   Marinez
                </td>
                <td class="px-6 py-4">
                    123@gmail.com
                </td>
                <td class="flex items-center px-6 py-4">
                    <a href="href=modificar?id={{alum.id}}" 
                    class="font-medium text-fg-brand hover:underline">Edit</a>
                    
                    <a href="detalles?id={{ alum.id}}" 
                    class="font-medium text-danger hover:underline ms-3">Remove</a>


                </td>
            </tr>
            
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}